html {
  height: 100%;
}
body {
  background-color: #222;
  padding-top: 70px;
  height: 100%;
}
.header .banner {
  background-image: url(../images/back2.jpg);
  position: relative;
  height: 300px;
  top: 0px;
}
.content {
  padding: 32px;
  background-color: white;
}
.footer .navbar {
  background-image: url(../images/tex1.png);
  background-repeat: repeat-x;
  border-radius: 0px;
  border-bottom: none;
  height: 400px;
  margin-bottom: 0px;
}
